@charset "UTF-8";
/**
 * 
 * @authors Wangsan_LoliSuri
 * @date    2017-04-14 18:51:17
 * @version $001$
 */
body {
  margin:0;
  height:100%;
}
html {
  height:100%;
}
canvas{
  display: block;
  width: 100%;
  height: 100%;
  background: #616563;
}
